<!DOCTYPE html>
<html lang="en" ng-app="PaulSantoroWebsite">
	<head>
		<title>Santoro Design</title>
		<link rel="icon" href="Resources/logo_raw.ico" type='image/x-icon' />
	</head>
	<body ng-controller="about-me-controller">
		<!-- Scripts -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<!-- Underscore.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.11.0/underscore-min.js"></script>
		<!-- Custom Stylesheet.  Edit this file to set the custom style. -->
		<link rel="stylesheet" href="CustomStyle.css">
		<!--App config-->
		<script src="ng-app-init.js"></script>
		<!-- Custom Script.  Edit this file to change the behavior of this webpage. -->
		<script src="about-me-controller.js"></script>

		<!--Buttons at the top of the page - One Column View -->
		<section ng-if="!isTwoColumns">
			<div class="row row-spacer">
				<div class="col-12">
					<!-- Logo -->
					<div class="row">
						<img src="Resources/santorodesign_logo_raw.png" class="img img-header" alt="Santoro Logo" />
					</div>
					<br />
					<!-- Navigation -->
					<div class="row">
						<div class="col-4 no-padding">
							<a href="index.html" class="btn btn-header btn-block">Projects</a>
						</div>
						<div class="col-4 no-padding">
							<a href="experience.html" class="btn btn-header btn-block">Experience</a>
						</div>
						<div class="col-4 no-padding">
							<button class="btn btn-header-current btn-block">About</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Buttons at the top of the page - Two Column View -->
		<div class="page-header-two-columns" ng-if="isTwoColumns">
			<div class="row row-spacer">
				<div class="col-7">
					<img src="Resources/santorodesign_logo_raw.png" class="img img-header" alt="Santoro Logo" />
				</div>
				<div class="col-5 row">
					<div class="col-4 no-padding" style="display: inline-flex">
						<button ng-click="onClickNavigationButton('index.html')" class="btn btn-header btn-block">Projects</button>
					</div>
					<div class="col-4 no-padding" style="display: inline-flex">
						<button ng-click="onClickNavigationButton('experience.html')" class="btn btn-header btn-block">Experience</button>
					</div>
					<div class="col-4 no-padding" style="display: inline-flex">
						<button class="btn btn-header-current btn-block">About</button>
					</div>
				</div>
			</div>
		</div>

		<!--About Page Only-->
		<section class="project-list">
			<h1 class="project-title">About Me</h1>
			<p class="project-description">
				Ever since I can remember, I&#39;ve enjoyed illustration. In my early teen years, I was introduced to video game development, where I found my passion in both 2D and 3D digital graphics design. Since then, I&#39;ve honed my skills in art and graphics design through practice, education, and the use of various mediums and programs.
			</p>
			<p class="project-description">
				I graduated from Clearwater High School and obtained an Associate of Arts degree from Saint Petersburg College. While in high school, I earned Adobe Certified Associate certifications in both Adobe Photoshop and Adobe Illustrator, and proceeded to take multiple graphic design courses using Adobe programs in college. During my spare time, I worked on multiple personal projects creating 3D art using Blender, Substance 3D Painter, and Photoshop.
			</p>
			<p class="project-description">
				My name is Paul Santoro and I currently live in Clearwater Florida. If you wish to contact me, you can by email at santorop16@gmail.com.
			</p>

			<!-- Extend the background to fill the page. -->
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</section>

		<!--Page footer woo woo-->
		<footer class="text-center">&#169; 2021 Paul Santoro.  All rights reserved.</footer>
	</body>
</html>