/* This is a stylesheet. */
body {
	padding: 10px 20px 0px 20px;
	font-family: "Segoe UI", "Arial", sans-serif;
	margin: auto;
}

section {
	padding: 10px 8% 0px 8%;
	margin: 25px 0px 0px 0px;
}

article {
	margin: 20px 0px;
}

img.img-about {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
}

img.img-header {
	display: block;
	margin-left: 0;
	margin-bottom: 10px;
	width: 60%;
	height: auto;
}

.image-viewer-16x9 {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	background: black;
}

.image-aspect-ratio-container {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: auto;
	height: 100%;
}

row.row-spacer {
	padding: 25px 0px;
	margin: 25px 0px;
}

h1 {
	text-align: center;
}

div.no-padding {
	padding:0;
}

/* Container holding the image and the text */
.container {
	position: relative;
	text-align: center;
	color: white;
	width: auto;
}

.container-left {
	position: relative;
	text-align: left;
	color: white;
	width: auto;
}

/* Centered text */
.gradient-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15px;
	right: 15px;
}

/* Buttons */

/* Button-Header */
.btn-header {
	color: #ffffff;
	background-color: #0a0a0a;
	border-color: #0a0a0a; /*set the color you want here*/
	border-radius: 0 !important;
	vertical-align: middle;
	font-weight: bold;
	font-size: 16pt;
}

.btn-header:hover, .btn-header:focus, .btn-header:active, .btn-header.active, .open > .dropdown-toggle.btn-header {
	color: #ffffff;
	background-color: #252525;
	border-color: #252525; /*set the color you want here*/
	font-weight: bold;
}

/* Button-Header-Current */
.btn-header-current {
	color: #ffffff;
	background-color: #ff0031;
	border-color: #ff0031; /*set the color you want here*/
	border-radius: 0 !important;
	font-weight: bold;
	font-size: 16pt;
}

.btn-header-current:hover, .btn-header-current:focus, .btn-header-current:active, .btn-header-current.active, .open > .dropdown-toggle.btn-header-current {
	color: #ffffff;
	background-color: #252525;
	border-color: #252525; /*set the color you want here*/
}

.custom-video {
	width: 100%;
	height: auto;
	max-height: 100%;
	padding: 0;
	margin: 0;
}

.custom-video::-webkit-media-controls-volume-slider {
	display: none;
}

.custom-video::-webkit-media-controls-mute-button {
	display: none;
}

.carousel-indicators {
	top: 0px;
	bottom: 95%;
}

.carousel-control-prev {
	top: 20%;
	bottom: 20%;
}

.carousel-control-next {
	top: 20%;
	bottom: 20%;
}

p {
	text-indent: 2em;
	font-size: 16pt;
}

.carousel-control-prev-icon {
	border-radius: 100%;
	background-color: #000000;
	width: 23.375%;
	height: 11%;
	background-size: 50%;
}

.carousel-control-next-icon {
	border-radius: 100%;
	background-color: #000000;
	width: 23.375%;
	height: 11%;
	background-size: 50%;
}

.project {
	padding: 25px 0px;
}

.project-description {
	color: #ffffff;
	font-size: 14pt;
}

.project-images-two-column {
	position: absolute;
	bottom: 0;
}

.project-list {
	background-color: #0a0a0a;
}

.project-title {
	text-align: center;
	color: #ffffff;
}

.page-header-two-columns {
	padding: 0px 5%;
}

.project-overlay {
	position: fixed; /* Sit on top of the page content */
	display: block; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.95); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	/* cursor: pointer; Add a pointer on hover */
}

.vertical-center {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%) translateX(8%);
	transform: translateY(-50%) translateX(8%);
	max-width: 84%;
}

footer {
	padding: 20px 0px 20px 0px;
	background-color: #0a0a0a;
	color: #808080;
}

/* Image */
.btn-image {
	border-color: #0a0a0a;
	background-color: #0a0a0a;
	border-width: 4px;
}

.btn-image:hover, .btn-image:focus, .btn-image:active, .btn-image.active, .open > .dropdown-toggle.btn-image {
	color: #808080;
	background-color: #404040;
	border-color: #404040;
	border-width: 4px;
}
